html, body {
  height:100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height:100%;
}

.app {
  display: flex;
  flex-direction: column;
  height:100%;
}
.input-form {
  display: flex;
  height: 35px;

  &__nickname {
    width: 170px;
  }
  &__message {
    flex: 1;
  }
  &__btn-send {
    padding: 0 40px;
    background-color: #157ffb;
    color: #fff;
    border:none;
  }

}
.input {
  padding:10px;
}

.message-list {
  background-color: #f1f1f1;
  padding:30px;
  overflow-y: auto;
  flex:1;

  &__empty-list-msg {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

}
.message {
  background-color: #fff;
  border:1px solid #cccccc;
  width: fit-content;
  padding: 5px 20px;
  margin-bottom:20px;

  &__nickname {
    font-weight: bold;
  }

}

.overlay {
  height:100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  opacity: 0.8;
  background-color: #ccc;
}
.room-selector {
  display: block;
  width:300px;
  height:auto;
  background-color: #bbb;
  text-align: center;
  padding:20px;
  position: absolute;
  top: calc(50vh - 90px);
  left: calc(50% - 150px);
  box-sizing: border-box;

  &__room {
    line-height: 40px;
  }
  &__room:hover {
    background-color: #eee;
  }

}
.room-badge{
  position: absolute;
  top: 10px;
  right: 25px;
  border: 1px solid #ccc;
  padding: 10px;
}